body {
  background-color: black;
  color:white;

}
.board-container{
  width: 00px;
}

.h2{
  margin: auto;
  margin-left: 50px;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.modal{
  display: none;
  background-color:purple ;
  /* border-radius: 10%; ; */
  width: 400px;
  height: 300px;
  text-align: center;
  margin-left: 10px;
}
.restart{
  width: 60px;
  height: 60px;
  background-color:brown ;
  color: white;
  margin: auto;
  margin-left: 50px;
  margin-top: 50px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
}

.victory{
  font-size: 100px;
  display: none;
  background-color:pink ;
  border-radius: 10%; ;
  width: 500px;
  height: 200px;
  text-align: center;
}

/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */